* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

#wrapper {
    display: flex;
    width: 100%;
}

ul.tab {
    width: 20.5%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: white;
    position: fixed;
}


/* Float the list items side by side */

ul.tab li {
    font-family: "Roboto", sans-serif;
    float: left;
    border-bottom: 1px solid lightgrey;
    /*border-bottom: 1px solid rgba(204, 204, 204, 0.32); */
}

ul.tab li.first {
    border-top: 1px solid lightgrey;
}


/*styling for the coding ninjas logo on left top*/

ul.tab>a>img {
    display: block;
    margin: auto;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}

.ul.tab li.active {
    background-color: rgba(0, 0, 0, 0.05);
}


/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of links on hover */

ul.tab li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /*color: orange;*/
}


/* Create an active/current tablink class */

ul.tab li:focus,
.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    width: 79.5%;
    display: none;
    /*padding: 6px 12px;*/
    border-top: none;
    padding: 24px;
    margin-left: 20%;
}

.active {
    background-color: orange!important;
    transition: .1s;
}

li.active a {
    color: white!important;
}

.visited {
    background-color: rgba(255, 165, 0, 0.1);
}

#default {
    width: 80%;
    display: block;
    padding: 6px 12px;
    text-align: center;
    margin-left: 20.5%;
}

#default h3 {
    font-size: 3em;
}

#default a:hover {
    cursor: pointer;
    color: red;
}

#hidden-heading {
    display: none;
}

.heading {
    font-size: 3em;
    font-family: roboto, sans-serif;
    background-color: white;
    margin-top: 0;
    color: black;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .25s;
    border-radius: 2px;*/
}

.content {
    line-height: 1.3em;
    color: rgba(0, 0, 0, 0.71);
    font-family: "Roboto", sans-serif;
    font-size: 1.28em;
}

.explanationText {
    /*line-height: 1.3em;*/
    line-height: 1.3em;
    color: inherit;
    font-family: inherit;
    margin: 0 2em 1em 2em;
    font-size: inherit;
}
.code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: rgba(0,0,0,0.60);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
    background-color:rgba(0,0,0,0.1); 
}
.highlightCode {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    color: rgba(0,0,0,0.60);
    padding:3px;
    margin:inherit;
    border: px solid white;
    border-radius: 5px;
}
.explanationNote {
    /*line-height: 1.3em;*/
    /*color: rgba(0,0,0,0.74);*/
    /*font-family: "Roboto";*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
    background-color:rgba(0,0,0,0.1);
    line-height: 1.3em;

    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: rgba(0, 0, 0, 0.60);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.explanationList {
    /*line-height: 1.3em;*/
    color: rgba(0, 0, 0, 0.74);
    font-family: "Roboto";
    margin-top: 0.4em;
    margin-right: 0 0.4em 5em;
    margin-bottom: 0.4em;
    margin-left: 2em;
    padding: 8px 16px;
}

.explanationImage {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
}
