* {
    margin: 0;
    /*border: 0;*/
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x:hidden;
}

#main-menu {
}

ul.tab {
    box-shadow: 4px 5px 8px 2px lightgrey;
    width: 20.5%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    min-height: 100%;
}


/* Float the list items side by side */

ul.tab li {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid lightgrey;
}

ul.tab li.first {
    border-top: 1px solid lightgrey;
}


/*styling for the coding ninjas logo on left top*/

ul.tab>a>img {
    display: block;
    margin: auto;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}

.ul.tab li.active {
    background-color: rgba(0, 0, 0, 0.05);
}


/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of links on hover */

ul.tab li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /*color: orange;*/
}


/* Create an active/current tablink class */

ul.tab li:focus,
.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    width: 79.5%;
    display: none;
    /*padding: 6px 12px;*/
    border-top: none;
    padding-left: 1em;
    padding-right: 0.4em;
    margin-left: 20%;
}

.active {
    background-color: rgba(255, 153, 0,0.92) !important;
    transition: .1s;
}

li.active a {
    color: white!important;
}

.visited {
    background-color: rgba(255, 165, 0, 0.12);
}

#default {
    width: 80%;
    display: block;
    padding: 6px 12px;
    text-align: center;
    margin-left: 20.5%;
}

#default h3 {
    font-size: 3em;
}

#default a:hover {
    cursor: pointer;
    color: red;
}

#hidden-heading {
    display: none;
}

.heading {
    font-size: 3em;
    padding:0.3em 0.8em;
    background-color: #0091ea;
    /*background-color: rgba(255,253,208,1);*/
    margin: 0 0 0.5em 0;
    color: white;
    /*box-shadow: 1px 1px 1px 1px lightgrey;*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    transition: box-shadow .25s;
    border-radius: 2px;
}
.heading:hover {
    box-shadow: 2px 1px 1px 2px lightgrey;
}

.content {
    line-height: 1.3em;
    color: rgba(0, 0, 0, 0.71);
    font-family: "Roboto", sans-serif;
    font-size: 1.28em;
    padding-left: 0.8em;
}

.explanationHeading {
    background-color: #00e5ff;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 2em;
    padding:0.8em 1em;
    margin-bottom:0.85em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    transition: box-shadow .25s;
    border-radius: 2px;
}
.explanationHeading:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
}

.explanationText {
    /*line-height: 1.3em;*/
    line-height: 1.3em;
    color: inherit;
    font-family: inherit;
    margin: 0 2em 1em 1.2em;
    font-size: inherit;
}
.code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: rgba(0,0,0,0.60);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
    background-color:rgba(0,0,0,0.1);
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow-x:auto;
    transition: box-shadow .25s;
}
.highlightCode {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    color: rgba(0,0,0,0.60);
    /*background-color: white;*/
    padding:3px;
    margin:inherit;
    border: 2px solid white;
    border-radius: 5px;
}
.code:hover {
    transform: scale(1.0005);
    box-shadow: 2px 1px 1px 2px lightgrey;
}
.explanationNote {
    /*line-height: 1.3em;*/
    /*color: rgba(0,0,0,0.74);*/
    /*font-family: "Roboto";*/
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
    background-color:rgba(0,0,0,0.1);
    line-height: 1.3em;

    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: rgba(0, 0, 0, 0.60);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 lightgrey;
    transition: box-shadow .25s;
}
.explanationNote:hover {
    box-shadow: 0 2px 0 2px lightgrey;   
}

dd{
    margin-left: 40px
}

.explanationList {
    /*line-height: 1.3em;*/
    color: rgba(0, 0, 0, 0.74);
    font-family: inherit;
    margin-right: 1.5em;
    margin-bottom: 0.4em;
    margin-left: 2em;
    padding: 8px 16px;
}

.explanationImage {
  margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;}

.output-window {
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:3.5em;
    margin-right:3.5em;
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 6px 3px lightgrey;
}

.output-window:hover {
    box-shadow: 3px 3px 8px 4px lightgrey;
}



div.explanationImage img {
    border: 1px solid lightgrey;
    box-shadow: 2px 2px 6px 3px lightgrey;
}

div.explanationImage img:hover {
    box-shadow: 3px 3px 8px 4px lightgrey;
}




  /*The CSS below is example specific */

/*for pseudo class page*/
#examplePara1:hover {
    box-shadow: 2px 4px 6px 8px lightgrey;
}

/*for pseudo elements page*/
#examplePara2::first-letter {
    font-size: 2em;
}
/*for Text Abbreviations Quotations and Code*/
.blockquote {
    display: block;
    margin: 1em;
    margin: 1em;
}
/*for Text Abbreviations Quotations and Code*/
#exampleBlockquote::before {
    display: block;
    height: 1em;
    content: "“";
    margin-left: -.95em;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
    color: #999;
}

/*For Page Layouts*/
.pageLayoutBox{
   display: inline-block; 
   background: #0091ea; 
   width: 100px; 
   height: 100px; 
   margin: 20px; 
   color: white; 
}
#specialTwoA{
   position: relative; 
   top: -20px; 
   left: 20px;
}
#specialTwoB{
   position: absolute; 
   top: 35px; 
   left: 20px; 
}